
*{
    margin: 0;
    padding: 0;
   
 }

 h1 {
    display:block;
 }


 nav li {
    display:inline;
    float: center;
    justify-content: wrap;
    list-style-type: none;
    text-align: center;
    color: rgb(184, 23, 50);
    margin: 5;
    align-items: center;
 }
 .nav-items {
    display:flex;
    padding-right: 10px;
    
 }
 .nav-link {
    margin: 10px;
    padding: 10px;
 }



 header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #6266df;
    color: rgb(69, 172, 181);
    height:flex;
   
  }


  nav a:hover {
    color: rgb(227, 102, 102);
    display: flex;
  }


  h1 {
    background-color: rgb(70, 113, 159);
    border-style: groove;     
    color: rgb(69, 172, 181);
    padding: 2%;
 }






 #banner {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    }




 #about-me {
    display: flex;
   float: left;
   padding-left: 100px;
   padding-top: 100px;
   padding-bottom: 100px;
   box-shadow: black 5px 0px;
   text-align: right;
   margin: 10px;
 }


 #about-me-text {
    display: flex;
    margin: 10;
    padding: 5%;
 }

 #work {
    display: flex;
   float: left;
   padding-left: 100px;
   padding-top: 100px;
   padding-bottom: 100px;
   box-shadow: black 5px 0px;
   text-align: right;
   margin: 10px;
 }

 aside{
    float: left;
    margin: 0 1.5%;
    width: 30%;
    height: 100%;
 }

 section {
    float: right;
    margin: 0 1.5%;
    width: 63%;
 }


 h2 {
    text-align: right;
    margin-top: 50%;
    border-right: 5px solid black;
 }
  


